.card {
    border: none;
    padding: 10px;
    
    .card-title {
        font-size: 2rem;
        text-align: center;  
        font-weight: bold;
    }

    .card-id, .card-stock {
        color: grey;
        font-size: 1.6rem;
        text-align: center;    
    }

    .card-price {
        color: #3E7CB1;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;    
    }

    .btn {
        font-size: 16px;
        width: 100%;    
    }

    &:hover {
        box-shadow: 0 0 20px 0 #0000004d;
        transform: scale(0.95);
        transition: 0.3s;    
    }
}